.webgl-content * {border: 0; margin: 0; padding: 0}


.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;} 
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;} 
.webgl-content .footer .webgl-logo {background-image: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('/web/20250626144308im_/https://cryptodude3.github.io/TemplateData/fullscreen.png'); width: 38px; float: right;}
/*
     FILE ARCHIVED ON 14:43:08 Jun 26, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:44:57 Nov 04, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.597
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 24.407
  LoadShardBlock: 1911.059 (3)
  PetaboxLoader3.datanode: 4130.151 (5)
  PetaboxLoader3.resolve: 5571.745 (3)
  load_resource: 7795.319 (2)
*/